@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --primary-color:  hsl(229, 82%, 50%);
    --secondary-color: #18bce9;
    --bg-color : #0E1636;
    --sec-bg-color: #0d1220;
    --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  background-image: url(Img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 600px;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--sec-bg-color);
  transform: translateY(3.5%);
}
.container h1 {
  font-family: serif;
  font-size: 50px;
  color: #fff;
}
.heading{
  display: flex;
  justify-content: space-evenly;
}
.heading img{
  position: relative;
  bottom: 1px;
  width: 70px;
}
.form-box{
  background-color: var(--sec-bg-color);
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 1s ease;

}
.form-box .input-box{
  position: relative;
  margin: 30px 0px;
  width: 310px;
  border-bottom: 2px #fff solid;
}
.form-box .input-box input{
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0px 20px 0px 5;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
}
input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  color: #fff;
  right: 0;
  top: 13px;
}



.STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED {
  background-color: #d1d7f3;
  font-weight: bold;
  font-size: 17px;
  font-family: serif;
  color: #152864;
  border: 0px;
  height: 100px;
  width: 100px;
  border-radius: 3px;
  margin-bottom: 7px;
  margin-left: 5px;
  transition: 0.5s ease;
}
.STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED
  img {
  width: 65px;
  height: 80px;
  cursor: pointer;
}
.STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED:hover{
  height: 110px;
  width: 110px;
}
.choosen-quiz h2 {
  font-family: system-ui;
  color: var(--text-color);
  font-size: 30px;
  margin-bottom: 20px;
}
.choosen-quiz {
  padding: 20px;
  margin: 10px;
  animation: choqu;
  animation-duration: 1s;
  opacity: 1;
}
@keyframes choqu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quiz-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-app .question_area {
  font-size: 25px;
  color: var(--text-color) ;
  padding: 15px 7px;
  width: 100%;
}
.quiz-app .answers_area {
  padding: 40px;
  font-size: 20px;
  width: 100%;
  text-align: left;
  color: white;
}
.quiz-app .answers_area .answer {
  padding: 10px 0;
}
.answer input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.answer input[type="radio"]:checked{
  accent-color: var(--secondary-color);
}
.answer input[type="radio"]:checked + label {
  color: var(--secondary-color);

}
.answer label {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  top: -1px;
}
.submit-button {
  transform: translate(250%, -150%);
  font-size: 17px;
  background-color: var(--primary-color);
  color: #d1d7f3;
  border: 0px;
  border-radius: 10px;
  margin-top: 5px;
  height: 40px;
  width: 130px;
  text-align: center;
  cursor: pointer;
}
.quiz-app .bullets {
  display: flex;
  padding: 20px;
  font-size: 20px;
  border-radius: 3px;
  background-color: #0a334b;
  color: rgb(224, 40, 40);
}
.quiz-app .bullets .spans {
  flex: 1;
  display: flex;
}
.quiz-app .bullets .spans span {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin-right: 5px;
  border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
  background-color: rgb(6, 150, 102);
}
.quiz-app .results span {
  font-weight: bold;
}
.quiz-app .results span.perfect {
  color: rgb(32, 32, 177);
}
.quiz-app .results span.good {
  color: green;
}
.quiz-app .results span.bad {
  color: red;
}

.quiz-app .results {
  font-family: monospace;
  font-size: 25px;
}
#submitBtn {
  background-color: var(--primary-color);
  color: #d1d7f3;
  border: 0px;
  border-radius: 10px;
  font-size: 14px;
  margin-top: 5px;
  height: 30px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.question-info {
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
  width: 500px;
  padding: 5px;
  margin: 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question-info .category,
.question-info .count {
  padding-bottom: 5px;
  font-family: Verdana;
}

/* Media Screen */
@media (max-width: 800px) {
  .container {
    width: 600px;
    height: 500px;
  }
  .container h1 {
    font-size: 40px;
  }
  #myForm {
    padding: 15px;
    margin: 7px;
  }
  #submitBtn {
    width: 80px;
  }
  .STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED {
    height: 50px;
    width: 50px;
  }
  .STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED
    img {
    width: 41px;
    height: 50px;
  }
  .choosen-quiz h2 {
    font-size: 30px;
  }
  .question-info {
    font-size: 18px;
    margin: 5px;
  }
  .quiz-app .question_area {
    padding: 5px;
  }
  .question_area h4 {
    font-size: 19px;
  }
  .quiz-app .answers_area {
    padding: 0px;
  }
  .quiz-app .answers_area .answer {
    padding: 0px;
  }
  .answer input {
    width: 13px;
    height: 13px;
  }
  .answer label {
    font-size: 13px;
  }

  .quiz-app .bullets .spans span {
    width: 20px;
    height: 20px;
  }
  .submit-button {
    transform: translate(0);
    width: 90px;
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 300px;
    height: 400px;
  }
  .container h1 {
    font-size: 30px;
  }
  #myForm {
    padding: 10px;
    margin: 5px;
  }
  #submitBtn {
    width: 80px;
  }
  .STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED {
    height: 50px;
    width: 50px;
  }
  .STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED
    img {
    width: 41px;
    height: 50px;
  }
  .choosen-quiz h2 {
    font-size: 25px;
  }
  .question-info {
    font-size: 14px;
    margin: 5px;
  }
  .quiz-app .question_area {
    padding: 5px;
  }
  .question_area h4 {
    font-size: 16px;
  }
  .quiz-app .answers_area {
    padding: 0px;
  }
  .quiz-app .answers_area .answer {
    padding: 0px;
  }
  .answer input {
    width: 13px;
    height: 13px;
  }
  .answer label {
    font-size: 13px;
  }
  .quiz-app .bullets .spans {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .quiz-app .bullets .spans span {
    width: 15px;
    height: 15px;
  }
  .submit-button {
    transform: translate(0);
    width: 83px;
    font-size: 12px;
  }
}
.hide {
  display: none;
}
