body{
    background-color: var(--background-color) ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, monospace;
}
:root{
    --background-color:rgb(1, 43, 77);
    --main-color: rgb(2, 98, 153);
    --btnColor: rgba(0, 35, 72, 0.822);
    --quebackground: rgb(195, 226, 253);
}
.container{
    height: 500px;
    width: 700px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--main-color);
    transform: translate(50%,20%);
}
.container h1{
    font-family: serif;
    font-size: 50px;
    color: #ffffff;
}
#myForm{
    padding: 20px;
    margin: 10px;
}
#username{
    background-color: #eff1fa;
    border: 0px;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    margin-right: 3px;
    padding-left: 7px;
}
.STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED{
    background-color: #d1d7f3;
    font-weight: bold;
    font-size: 17px;
    font-family: serif;
    color: #152864;
    border: 0px;
    height: 100px;
    width: 100px;
    border-radius: 3px;
    margin-bottom: 7px;
    margin-left: 5px;
}
.STARTEXAMELEMENTVERYSECRETCLASSTHATNOONECANACCESORPREDICTCAUSEITISSOHARDTOBEPREDICTED img{
    width: 65px; 
    height: 80px;
}
.choosen-quiz h2{
    font-family: system-ui;
    color: #002442;
    font-size: 30px;
    margin-bottom: 20px;
}
.choosen-quiz{
    padding: 20px;
    margin: 10px;
    animation: choqu;
    animation-duration: 1s;
    opacity:1 ;
}
@keyframes choqu {
    0%{opacity: 0;}
    100% {opacity: 1;}
}
.quiz-app .question_area{
    font-size: 25px;
    color: #00283e;
    padding: 15px 7px;
    width: 100%;
    background-image: linear-gradient(to top , rgb(113, 191, 236) , rgb(2, 98, 153) ); 
}
.quiz-app .answers_area{
    padding: 20px 15px;
    font-size: 20px;
    width: 100%;
    background-image: linear-gradient(to bottom , rgb(113, 191, 236) 50% , rgb(2, 98, 153) ); 
    text-align: left;
}
.submit-button{
    transform: translate(250%, -150%);
}
.quiz-app .bullets{
    display: flex;
    padding: 20px;
    font-size: 20px;
    border-radius: 3px;
    background-color: #0a334b;
    color: rgb(224, 40, 40);
}
.quiz-app .bullets .spans{
    flex: 1;
    display: flex;
}
.quiz-app .bullets .spans span{
    width: 20px;
    height: 20px;
    background-color: #ddd;
    margin-right: 5px;
    border-radius: 50%;
}
.quiz-app .bullets .spans span.on{
    background-color: rgb(6, 150, 102);
}
.quiz-app .results span{
    font-weight: bold;
}
.quiz-app .results span.perfect{
    color: rgb(32, 32, 177);
}
.quiz-app .results span.good{
    color: green;
}
.quiz-app .results span.bad{
    color: red;
}

.quiz-app .results{
    font-family:monospace;
    font-size: 25px;
}
#submitBtn, .submit-button{
    background-color: var(--btnColor);
    color: #d1d7f3;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    height: 30px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.quiz-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-info{
    font-size: 20px;
    font-weight: bold;
    color: rgb(222, 192, 111);
    width: 500px;
    padding: 5px;
    margin: 20px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-info .category,
.question-info .count{
    padding-bottom: 5px;
    font-family: Verdana ;
}
.hide{
    display: none;
}


